/* Breadcrumbs Styles */


.breadcrumbs li:nth-child(3)::after {
  content: ">>>";
  margin-left: 2.5rem; /* 40px converted to rem */
  color: black;
}

/* Sidebar Highlight */
.sidebar li:nth-child(4) {
  background-color: #fcfbcf;
}


/* Contact Form Container */
.contact-container {
   /* Set a smaller width for the contact form (480px converted to rem) */
  margin: 0 auto; /* Center the form horizontally within the container */
  padding: 1.25rem; /* 20px converted to rem */
  background-color: #fafafa;
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  flex-direction: column;

  width: 100%;
}

/* Form Styles */
form {
  background-color: rgba(165, 165, 209, 0.533);
  padding: 0.9375rem; /* 15px converted to rem */
  border: 0.0625rem solid var(--dark-blue); /* 1px converted to rem */
  border-radius: 0.3125rem; /* 5px converted to rem */
  width: 100%;
  /* Set a smaller max width for the form (400px converted to rem) */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Ensure the form takes full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  color: black;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure form groups take full width */
  margin-bottom: 0.9375rem; /* 15px converted to rem */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.contact-form label {
  margin-bottom: 0.3125rem; /* 5px converted to rem */
}

.contact-form input,
.contact-form textarea {
  width: 100%; /* Ensure inputs and textarea take full width */
  padding: 0.625rem; /* 10px converted to rem */
  font-size: 1rem;
  border: 0.0625rem solid #ccc; /* 1px converted to rem */
  border-radius: 0.3125rem; /* 5px converted to rem */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.contact-form .submit-btn {
  align-self: center;
  padding: 0.625rem 2.5rem; /* 10px 40px converted to rem */
  font-size: 1rem;
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 0.3125rem; /* 5px converted to rem */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
  background-color: #555;
}



