/* YOUR FONT FAMILY CHOICES
    font-family: 'Roboto', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Bebas Neue', sans-serif;
*/
/* Websites color pallet 
   yellow - #dcd80d , light Baby Blue - #4ac6ff, Darknight Blue - #01072c */ 






.breadcrumbs {
  font-size: 0.810rem;
  background-color: #4ac6ff;
  border-top: 0.125rem solid #eeff00; /* 2px converted to rem */
  border-bottom: 0.125rem solid #eeff00; /* 2px converted to rem */
  position: relative;
  padding: 0.0625rem; /* 1px converted to rem */
  display: flex; /* Use flexbox for layout */
  list-style: none;
}

.list-item i {
  margin-right: 0.625rem; /* 10px converted to rem */
  vertical-align: middle;
  position: relative; /* Adjust vertical alignment */
  left: 0.3125rem; /* 5px converted to rem */
}

.list-item a {
  padding-right: 0.25rem; /* 4px converted to rem */
  color: black;
}



.breadcrumbs ul {
  list-style: none;
  list-style-position: inside;
}

.breadcrumbs li:nth-child(2)::before {
  content: ">>>";
  margin-right: 2.5rem; /* 40px converted to rem */
  color: black;
}

.breadcrumbs li:nth-child(2)::after {
  content: ">>>";
  margin-left: 2.5rem; /* 40px converted to rem */
  color: black;
}

.breadcrumbs li {
  display: inline;
  margin: 0 1.875rem; /* 30px converted to rem */
  border-radius: 0.3125rem; /* 5px converted to rem */
}

#crumble4 {
  display: none;
}

.sidebar li:nth-child(3) {
  background-color: #fcfbcf;
}


.flex-item2 {
  flex: 1;
  background-color: #fff;
  padding: 1.25rem; /* 20px converted to rem */
  border: 0.0625rem solid #ddd; /* 1px converted to rem */
  border-radius: 0.3125rem; /* 5px converted to rem */
  margin-left: 0.625rem; /* 10px converted to rem */
}

.gallery-container {
  margin-top: 1.25rem; /* 20px converted to rem */
  color: black;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr)); /* 200px converted to rem */
  gap: 1.25rem; /* 20px converted to rem */
}

.gallery-item {
  background-color: #eee;
  padding: 0.625rem; /* 10px converted to rem */
  border: 0.0625rem solid #ddd; /* 1px converted to rem */
  border-radius: 0.3125rem; /* 5px converted to rem */
  text-align: center;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  border-radius: 0.3125rem; /* 5px converted to rem */
}

.gallery-item a {
  text-decoration: none;
  color: black;
}
