/* Font Family Choices 
font-family: 'Roboto', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Bebas Neue', sans-serif;*/

/* Website Color Palette */

/* Breadcrumbs and Crumbles */




/* Hidden Breadcrumbs */
#crumble2,
#crumble3,
#crumble4 {
  display: none;
}

/* Sidebar Highlight */
.sidebar li:first-child {
  background-color: #fcfbc2;
}
#eggHead {
  width: 100px;
  height: 100px;
  
}
/* Grid Container */
.grid-container {
  padding: 20px;
}
.titleBox {
  display: flex;
  justify-content: left;
  align-items: space-around;
  padding: 10px;
  

}
.bioTitle {
  font-size: 2rem;
  text-align: center;
  margin-left: 170px;
}

.bio-content {
  font-size: 1rem;
  background-color: rgba(168, 168, 168, 0.251);
  padding: 15px;
  word-spacing: 0.001rem;
  letter-spacing: 0.001rem;

}